body {
		background-image: url("bg1.jpg");
}

fieldset{
	border : none;
}

legend{
	color : white;
}


div.styling {
	
	padding:5px;
    margin: 5px;
    background-color: #89C9B3; 
    border: 4px solid ;
	border-color : white;
	border-radius:4px;
    
    filter: alpha(opacity=60); 
    -webkit-column-count: 2;
    position: relative;
}
input[type="text"]
{
	position: absolute;
	right:10px;
	width:75%;
	background-color: white;
	opacity: 1;
}
.rad{
	
	position: absolute;
	right: 680px;
	top:25px;

}

textarea
{
	position: absolute;
	right: 10px;
	width:75%;
}

#ad
{
	height:60px;
}
 

.radio_image{
	width : 15px;
	height : 11px;
}

.button-M{
	border-radius : 6px;
	color : white;
	align-left : center;
	background-color : navy;
	position : relative;
	left : 50%;

}

